@charset "UTF-8";
/* For printing only. */

@media print {
  section { display: block; page-break-before: always; }
  pre code {page-break-after: always;}
  @page {margin-top:0.4cm; margin: 0.5cm;}

body {
	margin: 0;
	color: #4B4B4B;
	font-size: 10pt;
	}

p a, code, pre {
word-wrap: break-word;
}

img {max-width: 200px !important;}

pre a[href]:after {
    content: ""; }

pre abbr[title]:after {
    content: ""; }

pre   .ir a:after,
  pre a[href^="javascript:"]:after,
  pre a[href^="#"]:after {
    content: ""; }

.no-print {display:none;}

}
